<nav>
  <ul class="flex items-center md:flex-col gap-5">
    <li>
      <a routerLink="" routerLinkActive="active">
        <svg-icon src="assets/icon-nav-home.svg" name="icon home"></svg-icon>       
      </a>
    </li>
    <li>
      <a routerLink="/movies" routerLinkActive="active">
        <svg-icon src="assets/icon-nav-movies.svg" name="icon movie"></svg-icon>        
      </a>
    </li>
    <li>
      <a routerLink="/series" routerLinkActive="active">
        <svg-icon src="assets/icon-nav-tv-series.svg" name="icon series"></svg-icon>        
      </a>
    </li>
    <li>
      <a routerLink="/bookmark" routerLinkActive="active">
        <svg-icon src="assets/icon-nav-bookmark.svg" name="icon bookmark"></svg-icon>       
      </a>
    </li>
  </ul>
</nav>
