<nav>
  <ul class="flex items-center md:flex-col gap-5">
    <li>
      <a routerLink="" routerLinkActive="active">
        <img src="assets/icon-nav-home.svg" alt="icon home" />
      </a>
    </li>
    <li>
      <a routerLink="/movies" routerLinkActive="active">
        <img src="assets/icon-nav-movies.svg" alt="icon movie" />
      </a>
    </li>
    <li>
      <a routerLink="/series" routerLinkActive="active">
        <img src="assets/icon-nav-tv-series.svg" alt="icon series" />
      </a>
    </li>
    <li>
      <a routerLink="/bookmark" routerLinkActive="active">
        <img src="assets/icon-nav-bookmark.svg" alt="icon bookmark" />
      </a>
    </li>
  </ul>
</nav>
