@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-outfit text-body_S md:text-body_M bg-blue_black;
  }
}

@layer components {
  .isMobile {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .isTablet {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .isDesktop {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@layer utilities {
  ::placeholder {
    font-size: 1rem;
  }
}
