/*  */
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
/*  */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    @apply font-outfit text-body_S md:text-body_M bg-blue_black lg:grid;
    grid-template-columns: 125px calc(100% - 125px);
  }

  .autoSize {
    width: auto;
    height: auto;
  }

  ::placeholder {
    font-size: 1rem;
  }
}

.swiper-slide {
  margin-right: 25px !important;
}

@layer components {
  .isMobile {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .isTablet {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .isDesktop {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 640px) {
  .isMediumDevice {
    display: none;
  }
  .isLargeDevice {
    display: none;
  }
}

@media only screen and (min-width: 640px) and (max-width: 768px) {
  .isSmallDevice {
    display: none;
  }

  .isMediumDevice {
    display: block;
  }

  .isLargeDevice {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .isSmallDevice {
    display: none;
  }

  .isMediumDevice {
    display: none;
  }

  .isLargeDevice {
    display: block;
  }
}
