@import 'tailwindcss';

@theme {
  --color-design-1: rgb(252, 71, 71);
  --color-design-2: rgb(16, 20, 30);
  --color-design-3: rgb(90, 105, 143);
  --color-design-4: rgb(22, 29, 47);
  --color-design-5: rgb(255, 255, 255);
}
