@import 'tailwindcss';

@theme {
  --color-design-1: rgb(252, 71, 71);
  --color-design-2: rgb(16, 20, 30);
  --color-design-3: rgb(90, 105, 143);
  --color-design-4: rgb(22, 29, 47);
  --color-design-5: rgb(255, 255, 255, 0.7);
  --font-nunito: 'Nunito Sans', sans-serif;
  --font-outfit: 'Outfit', sans-serif;
  --text-sm: 15px;
}

html,
body {
  @apply h-full;
}

body {
  @apply text-white font-outfit bg-design-2;
}
